# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name : 'freeman'

on:
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'setup python'
        uses: actions/setup-python@master
        with: 
          python-version: 3.7

      - name: requirements
        run : pip3 install -r requirements.txt

      - name: main
        env:
          freeman_email: ${{ secrets.freeman_email }}
          freeman_passwd: ${{ secrets.freeman_passwd }}
        run: |
          python3 ./Checkin52pj/freeman.py
